.paginatorContainer {
    margin: 20px 0 0 20px;
}

.selectedPage {
    font-weight: bold;
    font-size: 30px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.pageNumber {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.pageNumber:hover {
    background-color: rgba(192, 192, 192, 0.507);
}